* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
margin: 5px;
padding: 3px;
font-size: 3px;
}

.menu{
    display: flex;
    justify-content: space-between;
    

}
main{
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
}